<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>ru.job4j.dream.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/candidate/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/post/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.PostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CandidateServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.CandidateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoUploadServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.PhotoUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoDeleteServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.PhotoDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.AuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>GreetingServlet</servlet-name>
  <servlet-class>ru.job4j.dream.servlet.GreetingServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/posts.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CandidateServlet</servlet-name>
    <url-pattern>/candidates.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoUploadServlet</servlet-name>
    <url-pattern>/photoUpload.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoDeleteServlet</servlet-name>
    <url-pattern>/photoDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userProfile.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/redact.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GreetingServlet</servlet-name>
    <url-pattern>/greet</url-pattern>
  </servlet-mapping>
</web-app>